* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}
html {
  background: url('images/gettyimages-1011299144-1024x1024.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Gochi Hand', cursive;
}

.intro {
  color: #cc45a7;
  margin-bottom: 30px;
  background-color: #1e2633;
  padding: 5px 15px;
  border-radius: 7px;
}
.questionNumberColor {
  color: #215f84;
  background-color: #c39923;
}

.scoreNumberColor {
  color: #a11826;
  background-color: #1e2633;
}

.startButton {
  background-color: rgb(223, 56, 223);
  border: none;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 3px;
  size: 30px;
  cursor: pointer;
}

.centerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton {
  background-color: rgb(223, 56, 223);
  border: none;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 3px;
  size: 30px;
  cursor: pointer;
  margin-top: 30px;
}

fieldset {
  border: 0px;
  display: flex;
  flex-direction: column;
}

label:nth-child(1) {
  background-color: rgb(14, 29, 53)
}
label:nth-child(2) {
  background-color: rgb(175, 167, 56)
}
label:nth-child(3) {
  background-color: rgb(56, 175, 82)
}
label:nth-child(4) {
  background-color: rgb(165, 56, 175)
}
label:nth-child(5) {
  background-color: rgb(175, 56, 56)
}

.answerOption {
  background-color: none;
  border: none;
  padding: 5px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2e2ad2;
  display: inline-block;
}

.quizStart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionFont {
  position: absolute;
  bottom: 0;
  left: 0;
}

.questionNumber {
  display: inline-block;
}

.scoreFont {
  position: absolute;
  bottom: 0;
  right: 0;
}

.scoreQuestion {
  font-size: 33px;
  list-style: none;
  display: inline-block;
  bottom: 0px;
  padding: 0px 5px;
  border-radius: 3px;
}

.pumpQuestions {
  color: #d48080;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  background-color: black;
  padding: 5px 15px;
}

.startButton:hover {
  color: white;
}

.startButton:active {
  color: white;
  background-color: rgb(15, 6, 15);
}


.logo {
  height: 300px;
  width: 300px;
}

.questionAnswerForm {
  display: none;
  max-width: 800px;
  clear: both;
}

.correctFeedback {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to right bottom, rgb(181, 234, 255) 0%, rgb(255, 190, 190) 100%);
  border-radius: 6px;
  padding: 12px;
  max-width: 274px;
}
.correctFeedback button {
  width: 30%;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.correctFeedback button:hover {
  background-color: white;
  transition: all .3s ease-in-out;
}

.correctFeedback p {
  font-size: 1.4em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}
.correctFeedback span {
  color: #AF6438;
}
.correctFeedback img {
  width: 250px;
  height: auto;
  display: block;
  border-radius: 3px;
  margin: auto;
  padding: 10px;
}
h3 {
  color: #AF6438;
  font-size: 40px;
}
.results img {
  width: 150px;
  height: auto;
}
.results p:first-of-type {
  font-size: 25px;
  margin-bottom: 10px;
}
.results p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
}
.restartButton {
  margin-top: 10px;
}
@media screen and (max-width: 1190px) {
  .questionAnswerForm,
  .quizStart {
      width: 100%;
      margin-bottom: 100px;
  }

  .questionAnswerForm {
    max-width: 324px;
  }
  .scoreFont {
    font-size: 40px;
    position: absolute;
    bottom: 410px;
    right: 0px;
    display: flex;
    padding: 0px 5px;
    border-radius: 3px;
  }
  .questionFont {
    font-size: 40px;
    bottom: 410px;
    left: 0px;
    display: flex;
  }
  .scoreQuestion {
    display: inline-block;
    bottom: 0px;
  }
  
  .logo {
      width: 120px;
      height: 120px;
      display: block;
      margin: auto;
  }
  .intro {
    margin-bottom: -165px;
    margin-top: 60px;
  }

  header ul {
      margin: 10px;
      text-align: center;
  }
  h1 {
      font-size: 15px
  }
  header ul li {
      padding: 10px;
      font-size: 18px
  }

  .quizStart {
      width: 100%;
      padding: 40px;
      margin-top: 0;
  }
  h2 {
      font-size: 18px;
  }
  .questionAnswerForm {
      width: 100%;
      padding: 20px;
      margin-top: 0;
      font-size: 22px;
  }
  label {
      font-size: 16px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      color: #ffffff;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s ease-out;
      line-height: 22px;
  }

  input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}
  .correctFeedback img {
      width: 100%;
      height: auto;
  }
  .correctFeedback p {
      font-size: 16px;
      margin: 0 15px;
  }
  .results p:first-of-type {
      font-size: 18px;
  }
  h3 {
      font-size: 25px;
  }
  .scoreFont {
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
  }
  .questionFont {
    font-size: 30px;
    bottom: 0px;
    left: 0px;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .scoreQuestion {
    font-size: 20px;
    justify-content: space-between;
    bottom: 0px;
    padding: 0px 5px;
    border-radius: 3px;
  }
  .scoreFont {
    left: auto;
  }
  .questionFont {
    right: auto;
  }
  .logo {
    width: 60px;
    height: 60px;
}
}
